.bg-trans{
    background-color: rgba(255, 255, 255, 0.666);
    box-shadow: 0px 0px 2px 0px;
    border-radius: 5px;
}

.scroll-hidden{
scrollbar-width: thin;
}
.scroll-hidden::-moz-scrollbar {
  width: 5px; 
}
.scroll-hidden::-webkit-scrollbar{
    display: none;
}
.scroll-hidden::-moz-scrollbar-track {
  background: transparent; /* Background color of the scrollbar track */
}
.scroll-hidden::-moz-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the scrollbar thumb */
  }
.component {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

blockquote {
    background:
        linear-gradient(to right, #ffffff 6px, transparent 4px) 0 100%,
        linear-gradient(to left, #ffffff 6px, transparent 4px) 100% 0,
        linear-gradient(to bottom, #ffffff 6px, transparent 4px) 100% 0,
        linear-gradient(to top, #ffffff 6px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: relative;
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

blockquote:before,
blockquote:after {
    font-family: 'FontAwesome';
    font-size: 34px;
    color: #ffffff;
    position: absolute;
}

blockquote:before {
    content: "\f10d";
    top: -12px;
    right: 100%;
    margin-right: -20px;
}

blockquote:after {
    content: "\f10e";
    bottom: -20px;
    left: 100%;
    margin-left: -20px;
}

.quote-text {
    display: block;
    position: relative;
    z-index: 1; 
}

cite {
    display: block;
    margin-top: 10px;
}


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    aspect-ratio: 8;
    --_g: no-repeat radial-gradient(circle closest-side,#fbfbfb 90%,#ffffff00);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
  }
  @keyframes l7 {
      33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
      50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
      66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
  }


  body::-webkit-scrollbar {
    display: none; /* WebKit browsers */
}


/* HTML: <div class="loader"></div> */
.loader-second {
    width: 50px;
    aspect-ratio: 1;
    
    border-radius: 50%;
    display: grid;
    background: 
      conic-gradient(from 90deg at 4px 4px,#0000 90deg,currentColor 0)
      -4px -4px/calc(50% + 2px) calc(50% + 2px),
      radial-gradient(farthest-side,currentColor 6px,#0000 7px calc(100% - 6px),currentColor calc(100% - 5px)) no-repeat;
    animation: l10 2s infinite linear;
    position: relative;
  }
  .loader-second:before {
    content: "";
    border-radius: inherit;
    background: inherit;
    transform: rotate(45deg);
  }
  @keyframes l10 {to{transform: rotate(.5turn)}}




.custom-audio-player::-webkit-media-controls-panel {
    background-color: rgba(37, 99, 235, 1); /* Adjust background color using rgba for better compatibility */
    border-radius: 4px;
}
.custom-audio-player-1::-webkit-media-controls-panel {
  --tw-bg-opacity: 1;
  background-color: rgb(88 28 135 / var(--tw-bg-opacity)); /* Adjust background color using rgba for better compatibility */
    border-radius: 4px;
}

.custom-audio-player::-controls{
  background-color: white;
}
.custom-audio-player::-webkit-media-controls-play-button {
  /* Customize play button */
  color: white; /* Set color of play button */
}

.custom-audio-player::-webkit-media-controls-seek-back-button,
.custom-audio-player::-webkit-media-controls-seek-forward-button {
  /* Customize seek buttons (optional) */
  color: white; /* Set color of seek buttons */
}

.custom-audio-player::-webkit-media-controls-current-time-display,
.custom-audio-player::-webkit-media-controls-time-remaining-display {
  /* Customize time display */
  color: white; /* Set color of time display */
}
.custom-audio-player.custom-audio-player::-webkit-media-controls-play-button

.custom-audio-player::-webkit-media-controls-volume-slider-container,
.custom-audio-player::-webkit-media-controls-mute-button {
  /* Hide volume slider and mute button */
  display: none;
}